@page
@model newPMS.Web.Pages.Account.ResetPasswordModel
@{
}
@section styles {
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="@Url.Content("~/wwwroot/libs/bootstrap/css/bootstrap-grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Pages/Account/Index.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo/logo-col.png" />
}
<div class="row main login-form">
    <div class="content-login">
        <div class="col-lg-12 col-sm-12 col-12 right">
            <div class="img-r">
                <img src="~/images/logo/logo.png" alt="">
            </div>
            <div class="bg-form">
                <h2>Quên mật khẩu</h2>
                <form method="post">
                    <input asp-for="ReturnUrl" />
                    <input asp-for="ReturnUrlHash" />
                    <input asp-for="UserId" />
                    <input asp-for="TenantId" />
                    <input asp-for="ResetToken" />

                    <abp-input label="Mật khẩu" asp-for="@Model.Password"  />
                    <abp-input label="Nhập lại mật khẩu" asp-for="@Model.ConfirmPassword"  />
                    <abp-button button-type="Primary" type="submit" class="btn-rp" name="Action" value="Send">Gửi yêu cầu</abp-button>
                    <div style="padding-right: 22px; text-align: right; margin-top: 12px;">
                        <a  href="@Url.Page("./Login", new { returnUrl = Model.ReturnUrl})">
                            ← Quay lại
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <article>Copyright @@ 2020. <strong> Trung tâm kiểm chuẩn chất lượng xét nghiệm - Trường Đại học Y Hà Nội</strong></article>
    </div>
</div>


@*<p>
        ResetToken : @Model.ResetToken
    </p>
    <p>
        UserId : @Model.UserId
    </p>
    <p>
        ReturnUrl : @Model.ReturnUrl
    </p>
    <p>
        ReturnUrlHash : @Model.ReturnUrlHash
    </p>*@